* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: white;
  font-family: 'Courier New', Courier, monospace !important;
  font-size: 16px;
}
  
#main_header {
  text-align: left;
  margin: 2em 1em;
  font-size: 16px;
  font-family: monospace;
}

#login_heading {
  text-align: center;
  margin: 2em 1em;
  font-size: 16px;
  font-family: monospace;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 95vw;
  height: 60px;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #333;
}

.menu-icon span {
  width: 15px;
  height: 1px;
  background-color: #FFC28D;
}

.cta {
  width: 95%;
  height: 350px;
  background-color: white;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #FFC28D;
  position: relative;
}

#description {
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  padding-top: 10px;
  padding-left: 10px;
  width: 100%;
  height: 30%;
}

.center_text {
  text-align: center;
}

.inline_p {
  display: inline-block;
}

.link_position {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#login {
  font-size: small;
  width: 100%;
  height: 40px;
}

#signup {
  top: 200px;
}

.button {
  width: 80vw;
  height: 3em;
  font-size: 1.1rem;
  background-color: white;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  display: inline-block;
  box-shadow: 2px 2px 0 2px #141111;
  font-weight: 800;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Add transitions for smooth effect */
}

.button:hover {
  background-color: #141111; /* Invert background color */
  color: white; /* Invert text color */
  box-shadow: 2px 2px 0 2px white; /* Invert shadow color */
}



.pointer {
  cursor: pointer;
}

.white_text {
  color: white;
}

#login {
  top: 260px;
  font-family: 'Courier New', Courier, monospace;
}

#login_link {
  color: purple;
}

.pictograms {
  width: 95%;
  height: 250px;
  background-color: #141111;
  margin: auto auto;
  border-radius: 10px;
  position: relative;
}

.icons {
  position: absolute;
  top: 40px;
  left: 40px;
  transform: rotate(15deg);
}

#bottom-banner {
  width: 95%;
  height: 10px;
  background-color: white;
}

.user_info {
  width: 95vw;
  height: 1.5em;
  font-size: 1rem;
  background-color: white;
  color: #141111;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  display: inline-block;
  box-shadow: 2px 2px 0 2px #141111;
  font-weight: 800;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px; /* Adjust the spacing between label/input pairs */
}


.user_info::placeholder {
  font-size: 1rem;
  color: #141111;
  opacity: 0.5;
}

#choose-file {
  background-color: #FFC28D;
  color: #141111;
  border: 0;
}

.signup-background {
  background-color: #FFC28D;
}

.signup_button {
  width: 95vw;
  height: 1.5em;
  margin-bottom: 30px;
  font-size: 1rem;
  background-color: #141111;
  color: white;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  display: inline-block;
  box-shadow: 2px 2px 0 2px white;
  font-weight: 800;
  left: 50%;
  transform: translateX(-50%);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Add transitions for smooth effect */
}

.signup_button:hover {
  background-color: white; /* Invert background color */
  color: #141111; /* Invert text color */
  box-shadow: 2px 2px 0 2px #141111; /* Invert shadow color */
}

#button-placement {
  position: absolute;
  top: 300px;
}

.registration-header {
  text-align: center;
  margin-top: 40px;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}



select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  display: inline; 
}

input[type="file"] {
  padding: 1px 2px;
}

/* profile picture of the user's pet*/
/* object-fit tells browser how to position element in container..
..cover sets image to fill container, cropping as needed to avoid changing aspect ratio*/
#pet_pic {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto;
  object-fit: contain;
  border-radius: 100%;
  object-fit: cover;
}

#picture {
  background-color: #FFC28D;
  border-color: #FFC28D;
  color: black;
}

header {
  width: 100%;
  height: 50px;
  background-color: grey;
  display: flex;
  overflow: hidden;
}

nav {
  width: 50%;
  max-width: 300px;
  height: 50px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none
}

#logo {
  width: max(100px, 18vw);
  aspect-ratio: 35 / 4;
  padding: 0.4rem;
}

.name {
  margin: auto;
}

/*notify owner button*/
.notify {
  border: 1px solid black;
  display: block;
  width: 40%;
  margin: 20px auto 20px auto;
  height: 3em;
  font-size: 1.1rem;
  background-color: rgb(79, 139, 79);
  border-color: white;
  box-shadow: 2px 2px 0 2px white;
  color: white;
  border-radius: 40px;
}

.notify:hover {
  color: rgb(79, 139, 79);
  background-color: white;
  box-shadow: 2px 2px 0 2px rgb(79, 139, 79);
}


#logo {
  background-color: transparent;
  object-fit: contain; /* Reset the aspect ratio */
}

@media (min-width: 700px) {
  .user_info {
    width: 50%;
  }
  .signup_button {
    width: 50%;
  }
  .label_align {
    margin-left: 360px;
  }
}

@media (max-width: 375px) {
  .notify {
    width: 30%;
  }
  #pet_pic {
    width: 150px;
    height: 150px;
  }
}