<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content='Pet ID QR code collar'/>
  <title>Login or Sign Up</title>
  <link rel="stylesheet" href="/static/styles.css" />
  <script src="https://kit.fontawesome.com/7ad504761c.js" crossorigin="anonymous"></script>
</head>
<body>
  <section class="banner">
    <div>
      <h1>YOU PROBABLY<br>NEED A PETID</h1>
    </div>
    <div class="menu-icon pointer">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div>
      <i class="fa-solid fa-dog fa-bounce"></i>
    </div>
  </section>
  <section class="cta">
    <p id="description">
      HEY WE GET IT, PETS ARE<br>
      EXPENSIVE, BUT WE LOVE THEM<br>
      RIGHT?! THAT HAS US WONDERING,<br>
      WHAT IF THERE WERE A WAY TO KEEP<br>
      TRACK OF OUR LITTLE GUYS & GALS<br>
      WITHOUT TAKING OUT A SECOND MORTGAGE?
    </p>
    <div class="link_position" id="signup">
      <form action="/signup">
        <button class='button pointer' type="submit"><span>Join us</span>
          <i class="fa-solid fa-arrow-right fa-bounce"></i>
          
        </button>
      </form>
    </div>
    <div class="link_position" id="login">
      <form action="/login">
        <p id="login">Already have an account? <a class="pointer" id='login_link' href='/login'>Login</a>
        <!--<button type="submit">Login</button>-->
      </form>
    </div>
  </section>
  <section class="pictograms">
    <div>
    </div>
  </section>
  <section>
    <div id="bottom-banner">
    </div>
  </section>
</body>
</html>

<!--
Since both form buttons are intended to navigate to another page and not to submit form data, there's no need to specify a method="get" in the forms. The default method for forms is GET, so even if you omit the method attribute, it will still send a GET request when the button is pressed.
-->