<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Registration Form</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body class='signup-background'>
        <h1 class="registration-header">Your Pet</h1>
        <p>Please fill out this form with the required information</p>
    <!--This type is used for forms that require file upload which you are using for the picture input field.-->
        <form method="post" action='/pet' enctype="multipart/form-data">
            <fieldset>
                <label for="pet-name">Name <input class='user_info' id="pet-name" name="pet_name" type="text" required /></label>
                <label for="breed">Breed <input class='user_info' id="breed" name="breed" type="text" required /></label>
                <label for="weight">Weight <input class='user_info' id='weight' name='weight' type='text' required /></label>
                <label for="sex">Boy or a girl 
                    <select class='user_info' id="sex" name="sex">
                        <option value="">(select one)</option>
                        <option value="boy">Boy</option>
                        <option value="girl">Girl</option>
                    </select>
                </label>
                <label for="age">Age <input class='user_info' id="age" type="number" name="age" min="1" max="30" /></label>
                <label for="address">Address <input class='user_info' id="address" type="text" name="address" /></label>
                <label for="bio">Bio
                    <textarea class='user_info' id="bio" name="bio" rows="3" cols="30" placeholder="Jocko loves being outside but is quite shy and can become scared when in surroundings that he is not familiar with. He gets very thirsty when it is hot outside..."></textarea>
                </label>
                <label for="health">Health
                    <textarea class='user_info' id="health" name="health" rows="3" cols="30" placeholder="Jocko suffers from arthritis. He cannot eat any meat based products..."></textarea>
                </label>
                <label for="behaviour">Behaviour
                    <textarea class='user_info' id="behaviour" name="behaviour" rows="3" cols="30" placeholder="Jocko is shy but can lash out if he feels threatened..."></textarea>
                </label>
                <label for="picture">Your best pic of your furry friend! <input id='choose-file' id="picture" type="file" name="picture" /></label>
            </fieldset>
            <input class='signup-button pointer' type="submit" value="Submit" />
        </form>
    </body>
</html>