<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body class='signup-background'>
    <header>
      <img id='logo' alt='frenchie' src='/static/frenchie.png'>
      <h3>{{ pet_name}}'s' profile</h3>
      <nav>
        <ul>
          <li><a href="">About</a></li>
          <li><a href="">Edit</a></li>
          <li><a href="">Sign out</a></li>
        </ul>
      </nav>
    </header>
    <div>
      <!--Jinga2 syntax-->
      {% if picture_base64 %}
        <img loading=lazy, id='pet_pic' src="{{ url_for('get_image', filename=email) }}" alt="Pet Picture">
      {% endif %}
      <h2>Pet Details</h2>
        <p><strong>Pet Name:</strong> {{ pet_name }}</p>
        <p><strong>Breed:</strong> {{ breed }}</p>
        <p><strong>Age:</strong> {{ age }}</p>
        <p><strong>Bio:</strong> {{ bio }}</p>
      <h2>Contact</h2>
        <p class="user_info"><strong>First name:</strong> {{ first_name }}</p>
        <p class="user_info"><strong>Last name:</strong> {{ last_name }}</p>
      <h2>Information</h2>
        <p><strong>Info:</strong> {{ info }}</p>
        <button class='user_info pointer' type="submit">Health</button>
        <div id="healthTextBoxContainer"></div>

        <!-- jQuery used to simplify the AJAX request made when the button is clicked -->
        <!-- jQuery's event handling mechanism listens for the click event -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        
        <!-- Custom script -->
        <script src="script.js"></script>

        <!--<p class="user_info">Health</p>-->
        <p class="user_info">Behaviour</p>    
        <p class="user_info">Provider</p>
        <button class='notify pointer' type="submit">Notify owner of your location</button>
      </div>
  </body>
</html>  
  
<!--
url_for is a Flask helper function
Flask uses routes to map URLs to functions
filename=email is an argument to url_for function that passes a keyword argument to the get_image route
indicating that filename should be set to user's email
-->