<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="https://kit.fontawesome.com/7ad504761c.js" crossorigin="anonymous"></script>
  </head>
  <body class='signup-background'>
    <div>
      <h1 class="center_text">{{ pet_name }}</h3>
    </div>
    <div class="center_text">
      <!--Jinga2 syntax-->
      {% if picture_base64 %}
        <img loading=lazy, id='pet_pic' src="{{ url_for('get_image', filename=email) }}" alt="Pet Picture">
      {% endif %}
      <i class="fa-solid fa-dog fa-bounce"></i>
      <p class="inline_p"><strong>{{ breed }}</p>
      <i class="fa-solid fa-weight-scale"></i>
      <p class="inline_p"><strong>{{ weight }}</p>
      <i class="fa-solid fa-venus-mars fa-beat-fade"></i>
      <p class="inline_p"><strong>{{ sex }}</p>
      <i class="fa-solid fa-clock"></i>
      <p class="inline_p"><strong>{{ age }} years old</p>
      <p class="center_text"><strong>{{ bio }}</p>
    </div>
    <div>
      <h2 class="label_align">Contact</h2>
      <button class='user_info contact pointer' type="submit"><i class="fa-solid fa-phone"></i> Contact</button>
      <div id="contactTextBoxContainer"></div>

      <button class='user_info address pointer' type="submit"><i class="fa-solid fa-address-book"></i> Address</button>
      <div id="addressTextBoxContainer"></div>

      <h2 class="label_align">Information</h2>
      <button class='user_info health pointer' type="submit"><i class="fa-solid fa-heart"></i> Health</button>
      <div id="healthTextBoxContainer"></div>

      <button class='user_info behaviour pointer' type="submit"><i class="fa-solid fa-people-arrows"></i> Behaviour</button>
      <div id="behaviourTextBoxContainer"></div>

      <button class='user_info vet pointer' type="submit"><i class="fa-solid fa-shield-dog"></i> Vet</button>
      <div id="vetTextBoxContainer"></div>

      <!-- jQuery used to simplify the AJAX request made when the button is clicked -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <!-- Event handling mechanism listens for the click event -->
      <script src="{{ url_for('static', filename='script.js') }}"></script>

      <button class='notify pointer' type="submit">Notify owner of your location</button>
    </div>
  </body>
</html>  
  
<!--
url_for is a Flask helper function
Flask uses routes to map URLs to functions
filename=email is an argument to url_for function that passes a keyword argument to the get_image route
indicating that filename should be set to user's email
-->